@model IEnumerable<Repository.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
